<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>css3图片放大</title>
	<link rel="stylesheet" href="../css/neat.css">
	<link rel="stylesheet" href="../css/index.css">
</head>
<body>
	<div class="img_content_box">
		<div class="one_column">
			  <div class="img_box">
			  	 <span class="img_mask"></span>
			  	 <p class="tip_txt" data-txt="图片1hover效果" title="图片1">图片1</p>
			     <div class="img_prev">
			     	<img src="../image/1.jpg" alt="图片1">
			     </div>
			  </div>
			   <div class="img_box">
			   	<span class="img_mask"></span>
			   	<p class="tip_txt" data-txt="图片2hover效果" title="图片2">图片2</p>
			  	<img src="../image/2.jpg" alt="图片2">
			  </div>
			   <div class="img_box">
			   	 <span class="img_mask"></span>
			   	 <p class="tip_txt" data-txt="图片3hover效果" title="图片3">图片3</p>
			  	<img src="../image/3.jpg" alt="图片3">
			  </div>  
		</div>
			<div class="two_column">
			  <div class="img_box">
			  	 <span class="img_mask"></span>
			  	 <p class="tip_txt" data-txt="图片1hover效果" title="图片1">图片1</p>
			  	<img src="../image/1.jpg" alt="图片1">
			  </div>
			   <div class="img_box">
			   	<span class="img_mask"></span>
			   	<p class="tip_txt" data-txt="图片2hover效果" title="图片2">图片2</p>
			  	<img src="../image/2.jpg" alt="图片2">
			  </div>
			   <div class="img_box">
			   	 <span class="img_mask"></span>
			   	 <p class="tip_txt" data-txt="图片3hover效果" title="图片3">图片3</p>
			  	<img src="../image/3.jpg" alt="图片3">
			  </div>  
		</div>
		 
	</div>
</body>
 <script src="../js/jquery.js"></script>
 <script src="../js/index.js"></script>
</html>	