<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>两列图片</title>
	<link rel="stylesheet" href="../css/neat.css">
    <link rel="stylesheet" href="../css/indexTwo.css">
</head>
<body>
    <div class="img_box_content">
    	 <div class="one_cloumn">
    	 	 <div class="img_box">
    	 	 	 <span class="img_mask"></span>
                 <div class="tip_txt_box">
                    <p class="tip_txt" data-txt="图片1hover效果" title="图片1">图片1</p>
                 </div>
			  	 <div class="img_view">
			  	 	 <img src="../image/1.jpg" alt="图片1">
			  	 </div>
    	 	 </div>
    	 	  <div class="img_box">
    	 	  	 <span class="img_mask"></span>
                 <div class="tip_txt_box">
                   <p class="tip_txt" data-txt="图片2hover效果" title="图片2">图片2</p>
                 </div>
			  	 <div class="img_view"> 
    	 	 	   <img src="../image/2.jpg" alt="图片2">
    	 	 	 </div>
    	 	 </div>
    	 	  <div class="img_box">
    	 	  	<span class="img_mask"></span>
                 <div class="tip_txt_box">
                   <p class="tip_txt" data-txt="图片3hover效果" title="图片3">图片3</p>
                 </div>
			  	 <div class="img_view">
			  	 	 <img src="../image/3.jpg" alt="图片3">
			  	 </div>
    	 	 </div>
    	 </div>
    	  <div class="two_cloumn">
    	 	 <div class="img_box">
    	 	 	 <span class="img_mask"></span>
                 <div class="tip_txt_box">
                   <p class="tip_txt" data-txt="图片4hover效果" title="图片4">图片4</p>
                 </div>
			  	  <div class="img_view">
			  	  	   <img src="../image/4.jpg" alt="图片4">
			  	  </div>
    	 	 </div>
    	 	  <div class="img_box">
    	 	  	<span class="img_mask"></span>
                 <div class="tip_txt_box">
                    <p class="tip_txt" data-txt="图片5hover效果" title="图片5">图片5</p>
                 </div>
			  	 <div class="img_view">
			  	 	 <img src="../image/5.jpg" alt="图片5">
			  	 </div>
    	 	 </div>
    	 	  <div class="img_box">
    	 	  	 <span class="img_mask"></span>
                 <div class="tip_txt_box">
                    <p class="tip_txt" data-txt="图片6hover效果" title="图片6">图片6</p>
                 </div>
			  	 <div class="img_view">
			  	 	  <img src="../image/6.jpg" alt="图片6">
			  	 </div>
    	 	 	
    	 	 </div>
    	 </div>
         <div class="three_cloumn">
             <div class="img_box">
                 <span class="img_mask"></span>
                 <div class="tip_txt_box">
                   <p class="tip_txt" data-txt="图片7hover效果" title="图片7">图片7</p>
                 </div>
                  <div class="img_view">
                       <img src="../image/7.jpg" alt="图片7">
                  </div>
             </div>
              <div class="img_box">
                <span class="img_mask"></span>
                 <div class="tip_txt_box">
                    <p class="tip_txt" data-txt="图片8hover效果" title="图片8">图片8</p>
                 </div>
                 <div class="img_view">
                     <img src="../image/8.jpg" alt="图片8">
                 </div>
             </div>
              <div class="img_box">
                 <span class="img_mask"></span>
                 <div class="tip_txt_box">
                    <p class="tip_txt" data-txt="图片6hover效果" title="图片9">图片9</p>
                 </div>
                 <div class="img_view">
                      <img src="../image/9.jpg" alt="图片9">
                 </div>
                
             </div>
         </div>
    </div>	
</body>
 <script src="../js/jquery.js"></script>
 <script src="../js/indexTwo.js"></script>
</html>