<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>横向图片放大</title>
	<link rel="stylesheet" href="../css/neat.css">
	<link rel="stylesheet" href="../css/indexOne.css">
</head>
<body>
	<div class="img_content_box">
		<div class="one_img_box">
			     <div class="img_box">
				  <span class="img_mask"></span>
				  	<img src="../image/1.jpg" alt="图片1">
				  </div>
				   <div class="img_box">
				   	<span class="img_mask"></span>
				  	<img src="../image/2.jpg" alt="图片2">
				  </div>
				   <div class="img_box">
				   	 <span class="img_mask"></span>
				  	<img src="../image/3.jpg" alt="图片3">
				  </div>
		</div>
		  <div class="two_img_box">
		  	    <div class="img_box">
				  <span class="img_mask"></span>
				  	<img src="../image/4.jpg" alt="图片4">
				  </div>
				   <div class="img_box">
				   	<span class="img_mask"></span>
				  	<img src="../image/5.jpg" alt="图片5">
				  </div>
				   <div class="img_box">
				   	 <span class="img_mask"></span>
				  	<img src="../image/6.jpg" alt="图片6">
				 </div>
		  </div>
		    <div class="three_img_box">
		  	    <div class="img_box">
				  <span class="img_mask"></span>
				  	<img src="../image/7.jpg" alt="图片4">
				  </div>
				   <div class="img_box">
				   	<span class="img_mask"></span>
				  	<img src="../image/8.jpg" alt="图片5">
				  </div>
				   <div class="img_box">
				   	 <span class="img_mask"></span>
				  	<img src="../image/8.jpg" alt="图片6">
				 </div>
		  </div>
		 
	</div>
</body>
 <script src="../js/jquery.js"></script>
 <script src="../js/IndexOne.js"></script>
</html>